<div class="col-md-3">
  <div class="panel panel-default panel-lite plugin-panel-user-tags">
    <div class="panel-heading">
      <h3 class="panel-title">Mailchimp</h3>
      <ul class="panel-controls">
        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
      </ul>
    </div>
    <div class="panel-body ">
      <% if !@user.the_newsletter_subscribed? %>
          <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#modal_plugin_mailchimp_subscribe">
            <%= t('plugin.mailchimp.form.subscribe') %>
          </a>
      <% else %>
          <a href="#" class="btn btn-danger btn-block" data-toggle="modal" data-target="#modal_plugin_mailchimp_unsubscribe">
            <%= t('plugin.mailchimp.form.unsubscribe') %>
          </a>
      <% end %>
    </div>
  </div>
</div>

<div class="modal animated fadeIn" id="modal_plugin_mailchimp_subscribe" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only"><%= t('plugin.mailchimp.modal.close') %></span>
        </button>
        <h4 class="modal-title" id="smallModalHead"><%= t('plugin.mailchimp.modal.subscribe.title') %></h4>
      </div>
      <div class="modal-body">
        <p><%= t('plugin.mailchimp.modal.subscribe.body') %></p>
        <%= form_for @user, url: @user.new_record? ? cama_admin_users_path : admin_plugins_camaleon_mailchimp_subscribe_path(@user), html: {class: 'form-ajax-mailchimp-subscribe'} do |f| %>
            <div class="modal-body form-horizontal form-group-separated">
              <div class="modal-footer">
                <button type="submit" class="btn btn-danger mailchimp-subscribe-btn"><%= t('plugin.mailchimp.modal.subscribe.submit') %></button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('plugin.mailchimp.modal.close') %></button>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal animated fadeIn" id="modal_plugin_mailchimp_unsubscribe" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only"><%= t('plugin.mailchimp.modal.close') %></span>
        </button>
        <h4 class="modal-title" id="smallModalHead"><%= t('plugin.mailchimp.modal.unsubscribe.title') %></h4>
      </div>
      <div class="modal-body">
        <p><%= t('plugin.mailchimp.modal.unsubscribe.body') %></p>
        <%= form_for @user, url: @user.new_record? ? cama_admin_users_path : admin_plugins_camaleon_mailchimp_unsubscribe_path(@user), html: {class: 'form-ajax-mailchimp-unsubscribe'} do |f| %>
            <div class="modal-body form-horizontal form-group-separated">
              <div class="modal-footer">
                <button type="submit" class="btn btn-danger"><%= t('plugin.mailchimp.modal.unsubscribe.submit') %></button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('plugin.mailchimp.modal.close') %></button>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% add_asset_library('form_ajax', 'cropper') %>

<script>
  jQuery(function ($) {
    $('.form-ajax-mailchimp-subscribe').ajaxForm({
      success: function (res) {
        if (res.errors) {
          $.fn.alert({
            type: 'error',
            title: res.errors.title,
            content: res.errors.msg,
            icon: 'times',
            close: res.errors.close
          });
        } else {
          $.fn.alert({title: res.message.msg, close: res.message.close});
          $("#modal_plugin_mailchimp_subscribe").modal('hide');
          window.location.href = '<%= cama_admin_users_path %>';
        }
      }
    });

    $('.form-ajax-mailchimp-unsubscribe').ajaxForm({
      success: function (res) {
        if (res.errors) {
          $.fn.alert({
            type: 'error',
            title: res.errors.title,
            content: res.errors.msg,
            icon: 'times',
            close: res.errors.close
          });
        } else {
          $.fn.alert({title: res.message.msg, close: res.message.close});
          $("#modal_plugin_mailchimp_unsubscribe").modal('hide');
          window.location.href = '<%= cama_admin_users_path %>';
        }
      }
    });

  });
</script>
